
   
    body {
    background-color: #EDDBC0;
    }

  hr {
    
    border-style: groove none none;
    color:rgb(63, 1, 1,0.40);
    border-width: 2px;
    height: 5px;
    width: 100%;
   
  }

  h1  {
color: #251B37

  }

  h2  {
    color: #251B37
    
      }

      h3  {
        color: #251B37
        
          }
